@main-color: #81b3d2;
@darken-color: #506f82;

@border-color: #d6d6d6;
@grey: #888;
@lighten-grey: #f2f2f2;
@darken-grey: #b8b8b8;

@s-title: 18px;
@m-title: 21px;
@l-title: 30px;

@tablet: 480px;
@deskrop: 1200px;
