.form-item {
  &__label,
  &__count-label {
    display: block;
    margin-left: 20px;
  }
  input {
    height: 20px;
    margin-top: 10px;
    padding: 19px;
    font-size: @s-title;
    font-weight: bold;
    border: none;
    background: @grey-color;
    &:focus,
    &:active {
      outline: none;
    }
  }
  &__label-tablet {
    display: none;
  }
  button:active,
  button:focus {
    outline: none;
  }
  &__buttons {
    display: block;
    height: 58px;
    width: 280px;
    margin: 10px 0 17px;

  }
  &__buttons::after {
    content: 'дн.';
    position: relative;
    top: -40px;
    left: 150px;
    display: block;
    width: 45px;
    font-size: @s-title;
    color: @darken-grey;
    text-align: center;
    text-transform: lowercase;
  }
  &__buttons--persons::after {
    content: 'чел.';
  }
  &--disabled {
    box-shadow: inset 0 0 0 2px #bdbdbd;
  }
  &__btn {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 58px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: @darken-grey;
    border: none;
    background-color: @grey-color;

  }
  &__btn:hover,
  &__number:hover {
    color: @grey-txt_hvr;
    background-color: @grey-color_hvr;
  }
  &__btn:active,
  &__number:active {
    color: @grey-txt_down;
    background: @grey-color_down;
  }
}
input[type='text'] {
  display: block;
  width: 86%;
  margin-bottom: 18px;
  &:hover {
    background-color: @grey-color_hvr;
  }
  &:focus{
    box-shadow: inset 0 0 0 3px @grey-color_hvr;
    background-color: #fff;
  }
}
input[type='number'] {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 102px;
  margin: 0 1.5%;
  padding: 19px;
  text-decoration: none;
  -moz-appearance:textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

@media @tablet {
  .form-item {
    width: 27.3%;
    margin-right: 58px;
    &__label,
    &__label-tablet {
      display: block;
      margin: auto;
      padding-left: 20px;
      margin-bottom: 14px;
    }
    &__count-label {
      display: none;
    }

    &__count {
      margin-top: 20px;
    }
    &__count-label {
      padding-left: 28%;
    }
    &__buttons {
      width: 100%;
      margin-top: 10px;
      background: @grey-color;
    }
    &__buttons::after {
      content: '';
      display: block;
    }
    &__buttons--persons::after {
      content: '';
    }
    &__btn {
      width: 58px;
    }
    &--count {
      width: 100%;
      label {
        padding: 0;
        text-align: center;
      }
      .form-item__buttons {
        width: 27.3%;
        margin: auto;
      }
    }
  }

  .form-item:last-child {
    margin-right: 0;
  }
  input[type='text'] {
    width: 77%;
    padding: 19px 20px;
    margin-bottom: 28px;
  }
  input[type='number'] {
    width: 26px;
    padding: 19px 12px;
    margin: auto;
  }
}

@media @desktop {
  .form-item {
    &__count-label {
      display: block;
      margin: auto;
      padding-left: 20px;
      margin-bottom: 14px;
    }
    &__label-tablet {
      display: none;
    }
    &__buttons {
      width: 280px;
      background: #fff;
      margin: 0;
    }
    &__choice {
      padding: 10px 100px;
    }
    &__buttons::after {
      content: 'дн.';
      position: relative;
      top: -40px;
      left: 150px;
      display: block;
      width: 45px;
      font-size: @s-title;
      color: @darken-grey;
      text-align: center;
      text-transform: lowercase;
    }
    &__buttons--persons::after {
      content: 'чел.';
    }
    &--count {
      label {
        padding-left: 20px;
        text-align: left;
      }
      .form-item__buttons{
        width: 280px;
        margin: auto 0;
      }
    }
  }
  input[type='text'] {
    width: 240px;
  }
  input[type='number'] {
    width: 104px;
    padding: 19px;
    margin: 0 4px;
  }
  input[type='checkbox'] {
    display: none;
    &~label {
      margin-bottom: 35px;
      padding: 30px 0;
    }
  }
}
