.check-in {
  padding: 10px 6.2%;
  text-align: center;
  &__title {
    font-size: @m-title;
  }
  &__content {
    line-height: 25px;
    margin-bottom: 35px;
  }
  &__btn{
    display: block;
    margin: auto;
    padding: 15px 0;
    color: white;
    font-size: @m-title;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: @main-color;
  }
}

@media(min-width: 480px) {
  .check-in {

    &__title {
      font-size: 30px;
    }
    &__content {
      padding: 0 20%;
    }
    &__btn {
      max-width: 458px;
    }
  }
}
