.copyright {
  display: block;
  margin: 10px auto;
  width: 170px;
  padding: 25px 30px 25px 0;
  color: black;
  text-decoration: none;
  background: url("../img/copyright.png") no-repeat 85% 50%;

}


@media @tablet{
  .copyright {
    margin: 0;
  }
}
