.first-reason__img {
  min-height: 256px;
  background: url("../img/photo-city@1x.jpg") no-repeat;
  background-size: cover;
}

@media(min-width: 480px){
  .first-reason {
    display: flex;
    flex-direction: row;
    &__img {
      width: 67%;
    }
  }
}
