.first-reason__img {
  height: 256px;
  background: center url("../img/photo-city@1x.jpg") no-repeat;
  background-size: cover;
}

@media @tablet{
  .first-reason {
    display: flex;
    flex-direction: row;
    &__img {
      width: 67%;
      background: center url("../img/photo-city@2x.jpg") no-repeat;
    }
  }
}
