.index-header {
  text-align: center;
  &__title {
    margin: 30px 24px;
    font-size: @s-title;
    line-height: 25px;
  }
  &__content {
    line-height: 25px;
    margin: 0 24px 29px 24px;
  }
}
.index-header::after{
  content: '';
  display: block;
  height: 25px;
  background-image:
    linear-gradient(5deg, @main-color 30%, transparent 30%),
    linear-gradient(355deg, @main-color 30%, transparent 30%);
}
