@media(max-width: 480px) {
  .logo {
    position: relative;
    display: block;
    margin: -54px auto;
    width: 138px;
    height: 70px;
    font-size: 0;
    background: url("../img/logo.png") no-repeat;
  }
}

@media(min-width: 480px)and(max-width: 768px) {
  .logo {
    position: relative;
    display: block;
    top: 0;
    margin: -54px auto;
    height: 70px;
    font-size: 0;
    background: url("../img/logo.png") no-repeat;
  }
}
