.main-menu {
  &__items {
    margin: 0;
    padding: 0;
  }
  &__item {
    display: inline-block;
    width: 100%;
    padding: 16px 0;
    list-style: none;
    font-size: @s-title;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #506f82;
    -webkit-box-shadow: inset 0 1px 0 0 #9ac2db;
       -moz-box-shadow: inset 0 1px 0 0 #9ac2db;
            box-shadow: inset 0 1px 0 0 #9ac2db;
    background-color: @main-color;
  }
  &__item:first-child {
    box-shadow: none;
  }
  &__item:last-child {
    box-shadow: inset 0 -4px 5px -3px rgba(0,0,0,0.3);
  }
  a {
    text-decoration: none;
    color: white;
  }
  &__close {
  position: absolute;
  top: 0;
  left: 265px;
  font-size: 40px;
  font-weight: 200;
  color: white;
  border: 0;
  background: none;
}
}
.main-menu__icon {
  padding: 25px 20px 25px 277px;
  span {
    display: block;
    width: 23px;
    height: 4px;
    background-color: @main-color;
  }
  span::before,
  span::after {
    content: '';
    display: block;
    width: 23px;
    height: 4px;
    background-color: @main-color;
  }
  span::before {
    transform: translate(0, -9px);
  }
  span::after {
    transform: translate(0, 5px);
  }
}
