.other-reason {
  padding: 13px 0;
  text-align: center;
  &__title {
    margin-bottom: 11px;
    font-size: @s-title;
  }
  &__count {
    margin: 0;
  }
  &__content {
    margin: 16px 0;
    padding: 0 15px;
    line-height: 20px;
  }
}
.other-reason:nth-child(2) {
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
}
