.persons-item {
  margin-top: 40px;
  &--left {
    display: block;
    float: left;
  }
  &--right {
    display: block;
  }
}


.persons-item__count {
  text-align: center;
  div {
    height: 20px;
    width: 60px;
    padding: 20px 0;
    margin-top: 10px;
    font-size: @s-title;
    line-height: 20px;
    font-weight: bold;
    border: none;
    background: @lighten-grey;
  }
}
.persons-item__content {
  display: block;
  width: 75%;
  margin-left: 70px;
}

@media(min-width: 480px) {
  .persons-item {
    &--left {
      margin-right: 7px;
    }
    &--right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__content {
      margin: 0 auto;
    }
    input[type='text'] {
      width: 160px;
    }
  }
}
@media(min-width: 1200px) {
  .persons-item {
    &--left {
      margin-right: 7px;
    }
    &--right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__content {
      margin: 0 auto;
    }
    input[type='text'] {
      width: 240px;
    }
    &__content:first-child input[type='text']{
      width: 180px;
    }
  }
}
