.second-reason__img {
  min-height: 256px;
}

@media @tablet {
  .second-reason {
    display: flex;
    flex-direction: row-reverse;
    &__img {
      width: 67%;
    }
  }
}

@media only screen and (min-device-pixel-ratio: 1) {
  .second-reason__img {
    background-image: url("../img/photo-bridge@1x.jpg") no-repeat;
    background-size: cover;
  }

@media only screen and (min-device-pixel-ratio: 2) {
  .second-reason__img {
    background-image: url("../img/photo-bridge@2x.jpg") no-repeat;
    background-size: cover;
  }
}
