@main-color: #81b3d2;

.social {
  margin-top: 35px;
  margin-right: 40px;
  &__items li{
    display: inline-block;
    margin-right: 2px;
    width: 46px;
    height: 48px;
    list-style: none;
    background-color: @main-color;
  }
  a {
    font-size: 0;
  }
  &__items--tw {
    background: left url('../img/sprite.png') no-repeat;
  }
  &__items--fb {
    background: center url('../img/sprite.png') no-repeat;
  }
  &__items--yt {
    background: right url('../img/sprite.png') no-repeat;
  }

}
