.social {
  margin: 40px 40px 40px 0;
  text-align: center;
  li {
    display: inline-block;
    margin-right: 2px;
    list-style: none;
    text-align: center;
    vertical-align: middle;
    background-color: @main-color;
  }
  a {
    display: block;
    opacity: 0;
    font-size: 0;
    width: 46px;
    height: 48px;
  }
  &__items--tw {
    background: left url('../img/sprite.png') no-repeat;
  }
  &__items--fb {
    background: center url('../img/sprite.png') no-repeat;
  }
  &__items--yt {
    background: right url('../img/sprite.png') no-repeat;
  }
}

@media @tablet {
  .social {
    margin: 37px 50px;
    width: 200px;
    &__items {
      margin: 0;
      padding: 0;
    }
  }

}

@media @desktop {
  .social {
    margin: 37px 120px 37px 50px;
    width: 155px;
    &__items {
      margin: 0;
      padding: 0;
    }
  }

}
